<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Blog</title>
</head>
<body>
    <h1><a href="{% url 'main' %}">Recipe Blog</a></h1>
    <nav>
        <a href="{% url 'main' %}">Home</a>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'registration' %}">Registration</a>
                <a href="{% url 'auth' %}">Authorization</a>
            </div>
        {% else %}
            <a href="{% url 'recipe_add' %}">Добавить рецепт</a>
            <a href="{% url 'category' %}">Категории</a>
            <div style="text-align: right">
                {% if not user.is_anonymous %}
                    Вы авторизованы как <b>{{ user.username }}</b>
                {% endif %}
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>