{% extends 'web/base.html' %}
{% block content %}
    <h2>Категории</h2>
    <ul>
        {%  for cat in category %}
            <li>
                {{ cat.name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}