{% extends 'web/base.html' %}
{% block content %}
    <b>Добавить рецепт</b>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Добавить</button>
    </form>
    <ul>
        {% for i in recipe_blog %}
            <li>
                <b>{{ i.title }}</b>
                {{ i.image }}
                <a href="{% url 'recipe_edite' i.id%}">Изменить</a>
                <a href="{% url 'recipe_delete' i.id%}">Удалить</a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}