{% extends 'web/base.html' %}
{% block content %}
    <h2>Создание рецепта</h2>
    <form action="{% url 'recipe_add' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Сохранить</button>
    </form>
{% endblock %}